<!doctype html>
<html>

<!--
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url=http://localhost:9094/">
        <script type="text/javascript">
            window.location.href = "http://localhost:9094/"
        </script>
        <title>Page Redirection</title>
    </head>
    <body>
        Note: don't tell people to `click` the link, just tell them that it is a link. 
        If you are not redirected automatically, follow this <a href='http://localhost:9094/'>Home</a>.
    </body>
-->
<head>

    Your song is being encoded!
    If you are not redirected automatically, follow this <a href='http://localhost:9094/'>Home</a>.
</head>

</html>